@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/*shared style*/

.section-title{
    font-size: 2.8rem;
    font-weight: 700;
}
.display-flex{
    display: flex;
}
.text-primary{
    color: #FF900E;
}
.btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
   font-size: 1.5rem;
   font-weight: 600;
   border-radius: 8px;
   border: none;

   
}
main > section{
    margin-top: 130px;

}
main{
    max-width: 1440px;
    margin: 0 auto;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
.text-gray{
    color: #424242;

}
.text-light-gray{
    color: #727272;
}
.nav-bar{
    justify-content: space-between;
    align-items: center;
    
}
.nav-item{
    
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-weight: 400;
}
.nav-bar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
.brand{
    font-weight: 700;
    font-size: 3rem;
}
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
.banner-image{
    width: 100%;
}

.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
/*responsive media query*/



/* team feature related style*/
.teams{
    align-items: center;
    
}

.our-feature{
    margin-left: 130px;
    max-width: 530px;
}

#quick-list{
    font-weight: 500;
}
/*Some facts related style*/
.fact-card{
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.facts-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    

}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}
.fact-description{
    max-width: 540px;
}
/*sponsored related info*/
.sponsors-info{
    max-width: 542px;
    margin: 50px auto;
    text-align: center;
}
.sponsored-conpanies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    
}
.sponsored-conpanies img{
    filter: grayscale(100%);
}

/*feature section related style*/

#feature-section-title{
    border-left: 5px solid #FF900E;
    padding: 21px;
    
}





@media screen and (max-width:576px) {
    .nav-bar, .nav-links, .teams {
flex-direction: column;
    }
    .team-img-container ,.facts-container,.sponsored-conpanies {
        grid-template-columns: repeat(1, 1fr);
    }
    .our-feature{
        margin: 20px;
        
        
    }
    .facts-container ,.{
        justify-items: center;
        gap: 24px;
    }
    .sponsored-conpanies{
        justify-items: center;
        gap: 50px;
    }
    
}

/* medium size device*/
@media screen and (min-width:576px)  and (max-width:992px){
    .teams{
        flex-direction: column;
    }
    .our-feature{
        margin: 50px auto;
}
.sponsored-conpanies , .facts-container {
    grid-template-columns: repeat(2,1fr);
    gap: 50px;
    justify-items: center;
}
}